.navbar {
    background-color: #61bafa;
    margin-bottom: 10px;
}
h2 {
  text-align: center;
  font-family: cursive;
  
}
.cards {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.card {
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-img-top {
    max-width: 100%;
    height: auto;
    object-fit:fill;
    
}
.text-divider {
    margin-left: 5rem;
    margin-right: 5rem;
}
#about {
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: justify;
}
.thank{
    font-family: cursive;
}
#sad {
    display: flex;
    justify-content: center;
}
